run = "bun run dev"
modules = ["nodejs-18:v3-20230608-f4cd419", "bun-1.0:v1-20230911-f253fb1"]
hidden = [".*", "bun.lockb", "components.json", "dump.rdb", "*.d.ts", "next.config.js", "postcss.config.js", "tailwind.config.*", "tsconfig.json"]

disableInstallBeforeRun = true
disableGuessImports = true

[nix]
channel = "stable-23_05"

[deployment]
run="bun run start"
deploymentTarget = "cloudrun"
ignorePorts = false
build = "bun run build"
