@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green: 0 168 42;
    --orange: 223 123 0;
    --darkGrey: 109 112 113;
    --grey: 133 135 137;
    --lightGrey: 211 212 219;
    --extraLightGrey: 233 233 234;
    --keyboardGrey: 232 234 237;
    --red: 224 11 0;
    --white: 255 255 255;
    --black: 0 0 0;
    --night: 11 16 19;
    --blue: 2 119 242;
  }
}

@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/AlbertSans-Variable-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/AlbertSans-Variable-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  * {
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: lightgrey white;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
  html, body {
    @apply h-full text-primary;
    font-family: "Albert Sans", sans-serif;
    overscroll-behavior: none;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
    height: 100%;
  }
}
